.grid-container {
  display: grid;
  grid-template-columns: 100px 300px 300px 300px 100px;
  grid-template-rows: 125px 300px 1fr;
  grid-template-areas: "side-a header header header side-b" "side-a image image buttons side-b" "side-a image image buttons side-b";
}

.header { grid-area: header; }

.side-a { grid-area: side-a; }

.side-b { grid-area: side-b; }

.buttons { grid-area: buttons; background-color: yellow;}

.image { grid-area: image; background-color: green;}

.buttons {
position: relative;
z-index: 10;
}

.blue-eyes .eyes {
fill: blue;
}
